block content
  
      .container
        .row
          .error-template
            h1 Oops!
            h2 404 Not Found
            .error-details
              | Sorry, an error has occured, Requested page not found!
              br
            .error-actions
              a.btn.btn-primary(href='https://www.previewtechs.com')
                i.icon-home.icon-white
                |  Take Me Home
              a.btn.btn-default(href='mailto:support@previewtechs.com')
                i.icon-envelope
                |  Contact Support