extends ../layout

block content
  
      .inner.cover.error-body
        h1.cover-heading Sorry, you are not registered!!
        p.lead
          | Verify your e-mail or password.
        p.lead
          //- a.btn.btn-lg.btn-default(href='#') Learn more