block content
      .inner.cover.user-section
        h1.cover-heading These are your options today
        p.lead
          | Here you will have your personal configuration.
        ul
          li This is an item
          li this is another item
          li this starts to look like a To-Do App!! :/
          //- a.btn.btn-lg.btn-default(href='#') Learn more
      //- block content