block content
      .inner.cover
        h1.cover-heading This are your options today
        p.lead
          | Here you will have your personal configuration.
        p.lead
          //- a.btn.btn-lg.btn-default(href='#') Learn more
      //- block content