extends ../layout

block content
      .inner.cover.welcome-body
        h1.cover-heading Welcome #{ user }
        p.lead
          | We're glad to see you here!.
        p.lead
          //- a.btn.btn-lg.btn-default(href='#') Learn more
      .user-area
      include usersection
