extends ../layout

block content
      .inner.cover
        h1.cover-heading Welcome
        p.lead
          | We're glad to see you here!.
        p.lead
          //- a.btn.btn-lg.btn-default(href='#') Learn more
